

body { padding: 10px; background: #fff; }
body { font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; font-size: 12px; }

* { box-sizing: border-box; }

.source { background: #f7f7f7; padding: 10px; width: 200px; height: 70px; border-left: 5px solid #aaa; border-bottom: 1px solid #d8d8d8; border-right: 1px solid #d8d8d8; margin-top: 10px; }
.button { color: #0074D9; border: none; background: transparent; font-size: inherit;}
.button:hover { cursor: pointer; text-decoration: underline;  }
